.panel-common {
    display: flex;
    flex-direction: column;
    margin: 6px 5px 6px 6px;
    padding: 1px 10px 1px 5px;
    border-left: 2px solid transparent;
}

.panel-common:hover {
    border-left: 2px solid #393939;
}

.panel-event {
    padding-top: 10px;
}

.state {
    width: 105px;
    text-align: center;
}

.type {
    width: 150px;
    margin: 0;
}

.type-event {
    padding-left: 0px;
}

.type-feature {
    padding-left: 35px;
}

.type-story {
    padding-left: 60px;
}

.type-task {
    padding-left: 90px;
}

.type-bug {
    padding-left: 90px;
}

.fire {
    padding-left: 25px;
}

.title-event {
    padding-left: 0px;
}

.title-feature {
    padding-left: 25px;
}

.title-story {
    padding-left: 50px;
}

.title-task {
    padding-left: 35px;
}

.title-task-fire {
    padding-left: 15px;
}

.title-bug {
    padding-left: 35px;
}

.title-bug-fire {
    padding-left: 15px;
}

.information {
    width: 140px;
    text-align: center;
}

.panel-detail-expand {
    margin: 20px 0 40px;
    padding: 0 10px;
}

.panel-detail-expand-detail {
    margin-left: 100px;
    padding: 0 5px;
    display: flex;
    align-items: baseline;
    background-color: #101010;
    border-radius: 6px;
}

.detail-title {
    color: #d0d0d0;
}

.panel-detail-expand-summary {
    margin-left: 110px;
    padding: 0 5px;
    display: flex;
    align-items: baseline;
    border-radius: 6px;
}
