.panel-common {
    display: flex;
    flex-direction: column;
    margin: 6px 5px 6px 5px;
    padding: 1px 10px 1px 0;
}

.panel-event {
    padding-top: 10px;
}

.type {
    width: 110px;
    margin: 0;
}

.type-event {
    padding-left: 0px;
}

.type-feature {
    padding-left: 40px;
}

.type-story {
    padding-left: 60px;
}

.type-task {
    padding-left: 80px;
}

.type-bug {
    padding-left: 80px;
}

.state {
    width: 130px;
    text-align: center;
}

.title-event {
    color: #ffffff;
}

.title-feature {
    color: #f0f0f0;
}

.title-story {
    color: #eaeaea;
}

.title-task {
    color: #e0e0e0;
}

.title-bug {
    color: #ffe0e0;
}

.information {
    width: 140px;
    text-align: center;
}

.panel-detail-expand {
    margin: 20px 0 32px;
    padding: 0 10px;
}

.panel-detail-expand-detail {
    margin-left: 110px;
    padding: 0 5px;
    display: flex;
    align-items: baseline;
    background-color: #191919;
    border-radius: 6px;
}

.detail-title {
    color: #d0d0d0;
}

.panel-detail-expand-summary {
    margin-left: 110px;
    padding: 0 5px;
    display: flex;
    align-items: baseline;
    border-radius: 6px;
}
